@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

:root {
  --opacity-primary-light-red: 0, 100%, 67%;
  --opacity-primary-yellow: 39, 100%, 56%;
  --opacity-primary-green: 166, 100%, 37%;
  --opacity-primary-cobalt-blue: 234, 85%, 45%;
  --opacity-neutral-white: 0, 0%, 100%;
  --opacity-neutral-pale-blue: 221, 100%, 96%;
  --opacity-neutral-light-lavender: 241, 100%, 89%;
  --opacity-neutral-dark-gray-blue: 224, 30%, 27%;

  --primary-light-red: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-green: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);

  --main-linear-gradient: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --secondary-linear-gradient: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  --main-font-size: 1.125rem;
  --main-font-family: "HankenGrotesk";
  --fw-neutral: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--neutral-pale-blue);
}

main {
  display: flex;
  background: var(--neutral-white);
  border-radius: 2rem;
  gap: 1.25rem;
  box-shadow: 2px 2px 5px rgba(80, 79, 79, 0.2);
  margin: 0 1rem;
}

.result-section {
  width: 50%;
  text-align: center;
  border-radius: 2rem;
  background: var(--main-linear-gradient);
  color: hsla(var(--opacity-neutral-light-lavender), 0.7);
}

.result-section,
.summary-section {
  padding: 2rem 0;
}

.main-titles {
  font-size: var(--main-font-size);
  font-weight: var(--fw-bold);
}

.result-box {
  display: grid;
  place-content: center;
  width: 50%;
  margin: 2rem auto;
  aspect-ratio: 1 / 1;
  background: var(--secondary-linear-gradient);
  border-radius: 50%;
}

.result-box span {
  color: var(--neutral-white);
  font-size: 5rem;
}

.result-box p {
  color: hsla(var(--opacity-neutral-light-lavender), 0.5);
  font-weight: var(--fw-bold);
}

.result-info-box {
  text-align: center;
  font-size: var(--main-font-size);
}

.result-info-box-title {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--neutral-white);
  margin: 1.5rem 0 1rem 0;
}

.result-info-box-p {
  max-width: 70%;
  margin: 0.5rem auto 2rem;
  font-size: var(--main-font-size);
  color: var(--neutral-light-lavender);
}

.summary-section {
  width: 50%;
}

.summary-title {
  color: hsla(var(--opacity-neutral-dark-gray-blue), 0.9);
}

.summary-results-box {
  width: 100%;
}

.summary-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1.25rem 0;
  border-radius: 10px;
  width: 90%;
}

.score {
  position: relative;
  right: 1px;
}

.reaction {
  color: var(--primary-light-red);
  background: hsla(0, 100%, 67%, 0.1);
}

.memory {
  color: var(--primary-yellow);
  background: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  color: var(--primary-green);
  background: hsla(166, 100%, 37%, 0.1);
}

.visual {
  color: var(--primary-cobalt-blue);
  background: hsla(234, 85%, 45%, 0.1);
}

.reached-score {
  color: var(--neutral-dark-gray-blue);
  font-weight: var(--fw-extra-bold);
}

.button-box button {
  width: 90%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  font-size: var(--main-font-size);
  border-radius: 99px;
  font-weight: var(--fw-bold);
  background: var(--neutral-dark-gray-blue);
  color: var(--neutral-white);
  cursor: pointer;
  transition: 1s ease-out;
}

.button-box button:hover {
  background: var(--main-linear-gradient);
}

.sm-box-title {
  display: flex;
  gap: 0.8rem;
}

.max-score {
  font-weight: var(--fw-extra-bold);
  color: var(--neutral-dark-gray-blue-low-opacity);
}

@media screen and (max-width: 600px) {
  body {
    height: auto;
  }

  main {
    display: block;
    background: var(--neutral-white);
    border-radius: 0;
    margin: 0;
    width: 100%;
  }

  .result-section {
    border-radius: 0 0 2.5rem 2.5rem;
    width: 100%;
  }

  .result-info-box p {
    max-width: 95%;
  }

  .summary-section {
    margin: 0 auto;
    width: 95%;
  }

  h2 {
    padding: 0 1.25rem;
    font-size: 1.35rem;
  }

  .summary-results-box {
    width: 100%;
  }

  .summary-result {
    width: 90%;
    margin: 1.25rem auto;
  }

  .button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .button-box button {
    width: 100%;
    margin: 0;
  }
}
